h1 {
    text-align: center;
}
#change-quote {
    height: 25px;
    width: 100px;
    background: #fff;
    border-radius: 15px;
}
.display-quote {
    font-size: 36px;
    color: blue;
    background: #000;
    background-size: 80vw 80vh;
    background-repeat: no-repeat;
    text-align: center;
    margin: 20px auto;
    height: 50vh;
    width: 80vw;
    padding-top: 200px;
}
.container-1 {
    display: flex;
    justify-content: center;    
}
